<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <title>Web Clinic Application</title>
</head>

<body>
    <div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-md-4">
                <h1>Web Clinic Application!</h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/logout}" class="btn btn-danger" role="button">Logout</a>
            </div>
            <div class="col-md-4">
                <p>Logged-in user:
                    <b>
                        <span th:if="${loggedInDoctorEmail}" th:text="${loggedInDoctorEmail}">DOCTOR EMAIL</span>
                    </b>
                </p>
            </div>
        </div>

        <br>
        <br>

        <h2>This is your schedule!</h2>
        <div>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>appointment date</th>
                    <th>patient name</th>
                    <th>patient surname</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="medicalAppointmentDTO : ${medicalAppointmentDTOs}">
                    <td th:text="${medicalAppointmentDTO.dateTime}"></td>
                    <td th:text="${medicalAppointmentDTO.patientName}"></td>
                    <td th:text="${medicalAppointmentDTO.patientSurname}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <h2>Your additional options!</h2>
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/doctor/dates}" class="btn btn-success" role="button">Check the available dates</a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/doctor/history}" class="btn btn-warning" role="button">Medical appointment history</a>
            </div>
        </div>
    </div>

    <br>
    <br>

</body>
</html>