<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Web Clinic Application</title>
</head>

<body>
    <div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-md-4">
                <h1>Web Clinic Application!</h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3">
                <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
            </div>
            <div class="col-md-3">
                <a th:href="@{/patient}" class="btn btn-info" role="button">Go back to the patient page</a>
            </div>
            <div class="col-md-3">
                <a th:href="@{/logout}" class="btn btn-danger" role="button">Logout</a>
            </div>
            <div class="col-md-3">
                <p>Logged-in user:
                    <b>
                        <span th:if="${loggedInPatientEmail}" th:text="${loggedInPatientEmail}">PATIENT EMAIL</span>
                    </b>
                </p>
            </div>
        </div>

        <br>
        <br>

        <h3>These are your scheduled appointments. Remember, You can only cancel appointment 24 hours before the target date!</h3>
        <br>
        <h3>Select the date of your appointment and press the button to CANCEL!</h3>

        <div class="row mt-3">
            <div>
                <p>Booked appointments for patient with email: <b><span th:if="${patientHistoryDTO.patientEmail}" th:text="${patientHistoryDTO.patientEmail}">PATIENT_EMAIL</span></b></p>
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>dateTime</th>
                        <th>doctorName</th>
                        <th>doctorSurname</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="medicalAppointment : ${#lists.sort(patientHistoryDTO.medicalAppointments)}">
                        <td th:text="${medicalAppointment.dateTime}"></td>
                        <td th:text="${medicalAppointment.doctorName}"></td>
                        <td th:text="${medicalAppointment.doctorSurname}"></td>
                        <td>
                            <form th:action="@{/patient/cancel}" method="POST">
                                <input type="hidden" name="patientEmail" th:value="${patientHistoryDTO.patientEmail}">
                                <input type="hidden" name="appointmentDate" th:value="${medicalAppointment.dateTime}">
                                <input type="hidden" name="doctorSurname" th:value="${medicalAppointment.doctorSurname}">
                                <button type="submit" class="btn btn-danger">CANCEL</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <br>

            </div>
        </div>
    </div>
</body>
</html>
